#bodyAuth {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(1, 32, 52, 0.870);
    background-image: url('../assets/login_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

    width: 100%;
    height: 100vh;
}

#bodyAuth #button-login-with-google, .auth form button, .forgotPassDiv button{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
}
  
#bodyAuth #button-login-with-google:hover, .auth form button:hover, .forgotPassDiv button:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#insertErrorHandling {
    margin: 8px;
    background-color: rgb(146, 5, 5);
    padding: 5px;
    border-radius: 5px;
    border: 3px solid rgb(73, 2, 2);
    font-size: 14px;
    display: none;
}


.auth-container a {
    color: white;
    margin: 15px 0;
}

.auth {
    margin-top: 35px;
    min-height: 60vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 2% 20%;
    box-shadow: 0px 0px 100px 0px rgb(25, 25, 25);
    border-radius: 15px;
    width: 100%;
}

.auth hr {
    width: 100%;
}

.auth h1 {
    color: var(--color01);
}

.auth form {
    width: 100%;
    flex-grow: 0.25;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    

.auth form input, .forgotPassDiv input{
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin-top: 20px;
}

.line {
    border-top: 1px solid white ;
    margin: 45px 0 10px 0;
    width: 100%;
}

.accountsSVG svg {
    fill: #fff;
    width: 1.6em;
    height: 1.6em;
    margin: 0.4em;
    cursor: pointer;
}


.auth form button {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

/*.auth-container :hover {
    background-color: #ffffff33;
    outline: 2px solid white;
    color: white;
}*/

.auth a:hover {
    text-decoration: underline;
}

.auth p {
    font-size: 14px;
    margin: 0px 0;
}

.divThePassword {
    position: relative;
}

.divThePassword input{
    width: 100%;
}

.auth .forgotPass {
    padding-top: 5px;
    font-size: 12px;
    margin: 0;
    background: none;
    color: white;
    margin-left: auto;
}
.forgotPass:hover {
    text-decoration: underline;
    cursor: pointer;
}

.forgotPassDiv {
    color: white;
    position: absolute;
    background-color: rgba(1, 32, 52);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    text-align: center;
}

.forgotPassDivBackground {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.forgotPassDiv h2{
    font-size: 25px;
    margin-bottom: 12px;
}

.forgotPassDiv p {
    margin-bottom: 12px;
}

.forgotPassDiv input{
    width: 100%;
    margin-bottom: 12px;
}

.forgotPassDiv i {
    top: 15px;
    right: 15px;
    color: white;
    position: absolute;
}

.forgotPassDiv i:hover{
    color: rgb(220, 220, 220);
    cursor: pointer;
}

.forgotPassDiv i:checked{
    color: red;
}

.divLoadingAuthPage{
    width: 100%;
    height: 18px;
}

.loadingAuthPage{
    width: 18px
}
.linkCreateAccount{
    font-size: 1.1em;
}


@media (min-width: 360px) {
    .auth-container {
        width: 300px;
    }
    .accountsSVG svg {
        width: 1.9em;
        height: 1.9em;
        margin: 1.1em;
    }
}

@media (min-width: 660px) { 
    .auth-container {
        width: 400px;
    }
}

@media (min-width: 860px) { 
    .auth-container {
        width: 500px;
    }
}