body {
    min-height: 94.7vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../assets/login_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(1, 32, 52, 0.870);
    color: white;
}

a {
    color: white;
}

#root {
    min-width: 60%;
}

#auth-container {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#auth {
    margin-top: 35px;
    min-height: 60vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 2% 20%;
    box-shadow: 0px 0px 100px 0px rgb(25, 25, 25);
    border-radius: 15px;
    width: 100%;
}

#auth hr {
    width: 100%;
}

#auth form {
    width: 100%;
    flex-grow: 0.25;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    

#auth form input {
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin-top: 20px;
}

#button-login-with-google{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-login-with-google::after {
    content: 'Continue com o google';
    margin-left: 10px;
}

#auth form button {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    border: none;
    margin: 15px 0;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff33;
    outline: 2px solid white;
    color: white;
}

#auth a:hover {
    text-decoration: underline;
}

#auth p {
    margin: 0;
}

@media screen and (max-width: 700px) {
    #root {
        min-width: 80%;
    }
}

@media screen and (max-width: 500px) {
    #auth {
        padding: 2% 10%;
    }
}