.common-header {
    width: 100%;
    height: 60vh;

    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;

    display: flex;
    justify-content: center;
}

.common-header-content {
    padding: 0px 20px;
    width: 100%;
    height: 100px;

    background: linear-gradient(180deg, #012034 0%, rgba(1, 32, 52, 0.49) 30.73%, rgba(1, 32, 52, 0.00) 91.15%);
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common-header-content img{
    width: 200px;
    height: 46px;
}


header .header-nav {
    min-height: 15vh;
    padding: 20px;

    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .header-nav .link-btn {
    border: none;
    background-color: var(--color07);
    border-radius: 8px;

    width: 65px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-nav .link-btn:hover {
    background-color: var(--color07-hover);
}

header .header-nav a {
    color: var(--color01);
}

header .header-nav .nav-link-to-section:hover {
    color: whitesmoke;
    border: solid var(--color01);
    border-width: 0px 0px 2px 0px;
}


.nav-btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    background: none;
    background-color: whitesmoke;
    color: black;

    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.900);
}


@media only screen and (max-width: 1024px) {

    .header-nav {
        position: fixed;
        z-index: 1;

        width: 100%;
        height: 300px;
        top: 0px;
        left: 0px;

        flex-direction: column;

        background-color: var(--color02);
    }

    .nav-btn {
        position: relative;
        visibility: visible;
        opacity: 1;
    }

    .header-nav {
        transform: translateY(-100vh);
    }

    .responsive-nav {
        transform: none;
    }

    .nav-btn-close {
        position: absolute;
        top: 32.5px;
        right: 20px;
    }

}


header blockquote{
    width: 350px;
    padding: 40px;
    border-radius: 10px;

    background-color: #ff8000b9;
    color: var(--color01);

    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );

    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.500);

    position: absolute;
    top: 40vh;

    text-align: justify;
}

header blockquote:hover {
    cursor: pointer;
}

header blockquote hr {
    border: 1px solid var(--color01);
    margin: 8px 0px;
}

header blockquote::before {
    font-size: 6em;
    position: absolute;

    content: '\201c';
    margin-top: -50px;
    margin-left: -25px;
    transition-duration: 150ms;
}

header blockquote:hover::before {
    margin-top: -60px;
    margin-left: -35px;
}