.common-header {
    width: 100%;
    height: 60vh;

    position: absolute;
    top: 0;
    left: 0;
    
    background-image: url('../assets/common_header_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

header .header-nav {
    background: linear-gradient(180deg, #012034 0%, rgba(1, 32, 52, 0.49) 30.73%, rgba(1, 32, 52, 0.00) 91.15%);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 15vh;
    padding: 20px;
}

header .header-nav a {
    margin: 5px 10px;
    background-color: var(--color02);
    border: 2px solid var(--color01);
    cursor: pointer;
    color: var(--color01);
    padding: 5px 10px;
    border-radius: 8px;
}

header .header-nav a:hover {
    margin: 5px 10px;
    color: var(--color02);
    background-color: var(--color01);
    border: 2px solid var(--color02);
}

.about-container {
    margin-top: 62vh;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}