.common-header {
    width: 100%;
    height: 60vh;

    position: absolute;
    top: 0;
    left: 0;
    
    background-image: url('../assets/common_header_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

header .header-nav {
    background: linear-gradient(180deg, #012034 0%, rgba(1, 32, 52, 0.49) 30.73%, rgba(1, 32, 52, 0.00) 91.15%);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 15vh;
    padding: 20px;
}

header .header-nav .landing-menu-section {
    display: flex;
    justify-content: space-between;

    width: 250px;
}

header .header-nav .landing-menu-section .a, button {
    padding: 5px;
    background-color: #ECE8DE;
    border: none;
    border-radius: 8px;

    color: black;

    width: max-content;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-nav .landing-menu-section .a:hover, button:hover {
    background-color: var(--color02);
    color: #ECE8DE;
}

.about-container {
    margin-top: 62vh;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}