.experiences-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.user-testimonials {
    text-align: justify;
    max-width: 700px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    align-items: center;

    padding: 20px;

    border-width: 0px 10px 0px 0px;
    border-style: solid;

    color: whitesmoke;
    background-color: #F9CB56;
    border-color: #B86148;
    cursor: pointer;
}

.user-testimonials section {
    margin-bottom: 20px;
}

.user-testimonials section h1{
    margin-bottom: 0px;
}

.user-testimonials-main-content {
    max-width: 350px;
}

.user-testimonials img {
    position: relative;
    border-radius: 50%;
    margin-right: 20px;
    width: 210px;
    height: 210px;
    object-fit: cover;
}


@keyframes fill-user1-testimonials-rectangle {
    0% {background-color: #F9CB56; width: 0px;}
    100% {background-color: #F9CB56; width: 100%;}
}

@keyframes fill-user2-testimonials-rectangle {
    0% {background-color: #33BFC3; width: 0px;}
    100% {background-color: #33BFC3; width: 100%;}
}
@keyframes fill-user3-testimonials-rectangle {
    0% {background-color: #B86148; width: 0px;}
    100% {background-color: #B86148; width: 100%;}
}


.user1-testimonials {
    margin-right: 20px;
    margin-right: 200px;
}

.user1-testimonials:hover {
    border-width: 0px 25px 0px 0px;
}


.user2-testimonials {
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    margin-left: 200px;
}

.user2-testimonials:hover {
    border-width: 0px 0px 0px 25px;
}


.user3-testimonials {
    margin-right: 200px;
}

.user3-testimonials:hover {
    border-width: 0px 25px 0px 0px;
}


@media (max-width: 880px) {
    .user1-testimonials {
        border-width: 0px;
        margin-right: 0px;
    }
    .user2-testimonials {
        border-width: 10px 0px 0px 0px;
        margin-left: 0px;
    }
    .user3-testimonials {
        border-width: 10px 0px 0px 0px;
        margin-right: 0px;
    }

    .user-testimonials {
        gap: 0px;
    }
}