.landing-page-container {
    margin-top: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.landing-main-section {
    width: 100%;
    margin-bottom: 60px;
}

.landing-page-subsection section{
    text-align: justify;
    width: 300px;
    height: 210px;
}

.landing-page-subsection section h1{
    margin-bottom: 10px;
}


.landing-subsection-title {
    margin-bottom: 45px;
    text-align: center;
    font-size: 4em;
    background: linear-gradient(45deg, #fc9e3f, #ff9830, #fc9e3f, #ff9830, #fc9e3f);
    animation: degrade 15s linear infinite alternate;
    background-size: 400% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}