.landing-page-content {
    margin-top: 62vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-menu-section {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.landing-page-menu-section button {
    width: max-content;
}