.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
} 

.about-container h1 {
    font-size: 2em;
    margin-bottom: 25px;
}

.about-sections {
    padding: 25px;
    margin-bottom: 25px;
    text-align: justify;
}

.about-sections section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-sections section p{
    padding: 20px;
}


.about-sections section img, .about-sections section p{
    width: 300px;
}