.landing-container {
    background-color: #ffdeab;
    border-radius: 50px;
}

.landing-page-content-section {
    width: 100%;
    padding: 20px;
    padding: 20px;
}

.landing-page-content-section h1 {
    margin-bottom: 30px;
    text-align: center;
}

.landing-page-content-section img {
    width: 300px;
}


.about-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-section section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-us-section h1 {
    font-size: 4em;
    background: linear-gradient(45deg, #fc9e3f, #ff9830, #fc9e3f, #ff9830, #fc9e3f);
    animation: degrade 15s linear infinite alternate;
    background-size: 400% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.about-us-section section p {
    text-align: justify;
    width: 300px;
}

.about-us-section section p, .about-us-section section img {
    padding: 20px;
}


.mission-values-vision-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mission-values-vision-section section {
    padding: 20px;
    width: 300px;
    text-align: justify;
}