.content {
    padding: 30px 0px;
}

.local-detail {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}

.local-detail .content {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.local-detail .img-gradient {
    width: 100%;
    height: 40vh;
    /* background: linear-gradient(var(--color08) 0%, transparent); */
}

.local-detail .local-background-image {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    position: relative;
    z-index: -1;
    display: block;
}

.local-detail .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: max-content;
    align-items: center;
}

.local-detail .tags-section {
    display: flex;
    flex-wrap: wrap;
}

.local-detail .tags-section .tag-name {
    border: 1px solid rgba(1, 32, 52, 0.870);
    
    padding: 5px;
    margin-right: 5px;

    border-radius: 5px;
}

.local-detail .tags-section .tag-name:hover{
    background-color: rgba(1, 32, 52, 0.870);
    color: white;
    cursor: pointer;
}

.local-detail .local-description {
    text-align: justify;
}


.get-and-show-statistics {
    margin-top: 20px;
    width: 300px;
    height: max-content;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 762px) {
    .get-and-show-statistics {
        margin-top: 0px;
    }
}


.about-section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.about-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carousel {
    max-width: 350px;
    padding: 10px;
    cursor: grab;
    overflow: hidden;
}

.inner-carousel {
    display: flex;
}

.inner-carousel img {
    padding: 8px;
    object-fit: cover;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    pointer-events: none;
}


.local-map {
    margin-top: 30px;
}