.card {
    position: relative;
    width: 350px;
    height: 450px;
    box-shadow: 0 0px 25px #00000026;
    border: 3px solid #012034;
    border-radius: 0 20px;
    margin: 10px 5px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0px 40px #00000048;
}

.card img {
    width: 100%;
    height: 70%;
    border-radius: 0 20px;

    overflow-clip-margin: content-box;
    overflow: clip;
}

.card i {
    position: absolute;
    top: 10px;
    left: -15px;
    width: 95%;
    height: 50px;
    background-color: #003B62;
    border-radius: 30px;
    border-bottom-left-radius: 0;
}

.card i p {
    color: white;
    text-align: center;
    margin: 14px 0px;
}

.card i::after {
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 15px;
    background-color: #003B62;
    z-index: 1;
}

.card i::before {
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 30px;
    background-color: #001b2c;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}

.card .card-content {
    position: absolute;
    bottom: 0;
    z-index: 3;
    background-color: white;
    border-radius: 0px 20px;
    padding: 8px;
}

.card .card-content .card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.card .card-content .card-info p {
    margin: 14px 0px;
    max-width: 304px;
    max-height: 54px;
    overflow: hidden;
}

.card .card-content .card-info img {
    margin-right: 10px;
    width: 15px;
    border-radius: 0;

    overflow-clip-margin: content-box;
    overflow: clip;
}

.card .card-content a {
    border-radius: 5px;
    background-color: #012034;
    border: 2px solid #012034;
    padding: 5px 20px;
    color: white;
    top: -30px;
    position: absolute;
    
    z-index: 2;
}

.card .card-content a:hover {
    background-color: white;
    border: 2px solid #012034;
    color: var(--color02);
    font-weight: bold;
}

.card .card-content::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 35%;
    height: 25%;
    border-top-right-radius: 20px;
    background-color: white;
    z-index: 1;
}