.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loadingHome .loadingAuthPage{
    width: 50px;
}

.loadingHome .divLoadingAuthPage{
    height: 50px;
}