.menu_section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}


.input_container {
    position: relative;
    width: 108px;
    height: 46px;
}


.input_content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    text-align: center;

    color: rgba(1, 32, 52, 0.870);

    border: 1px solid rgba(1, 32, 52, 0.870);
    border-radius: 5px;

    padding: 5px;
}

.input_container label {
    font-size: 1.25em;
}

.input_container input[type='radio'] {
    position: absolute;

    width: 100%;
    height: 100%;

    margin: 0px;
    
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}


input[type='radio']:checked + .input_content {
    background-color: rgba(1, 32, 52, 0.870);
    color: white;
    border: none;
}

@media (min-width: 360px) {
    .menu_section {
        width: 300px;
    }
}

@media (min-width: 660px) { 
    .menu_section {
        width: 400px;
    }
}

@media (min-width: 860px) { 
    .menu_section {
        width: 500px;
    }
}