body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../assets/login_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(1, 32, 52, 0.870);
    color: white;
}

a {
    color: white;
}

#registration {
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#registration form {
    min-height: 25vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#registration form input {
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin-top: 15px;
}

#registration form button {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    border: none;
    margin: 15px 0;
    cursor: pointer;
}

#registration form button:hover {
    background-color: #ffffff33;
    border: 2px solid white;
    padding: 6px;
    color: white;
    transform: scale(1.05);
}